<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @machine.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @machine.description %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
