<!DOCTYPE html>
<html>
<head>
  <title>Zbis</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= image_tag "http://static.ladepeche.fr/content/media/image/zoom/2011/04/01/cc8c84a30b5cf0ac4eac722ff1bda228.jpg" %>

</body>
</html>
